# Auto detect text files and perform LF normalization
* text=auto

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Config files
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Force binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
